body {
    background: url(./NYSC\ logo\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color: rgb(144, 173, 90);
}

p {
    color: brown;
    text-align: center;
}

h2 {
    text-align: center;
}

marquee {
    background-color: red;
    color: white;
}

h3 {
    text-align: right;
    text-transform: uppercase;
}