/*
body {
  background-color :blue;
}
*/


header {
  background-image: url("/AssgtOne/Punch.png");
  background-repeat:no-repeat;
  background-position: center;
  width:100%;
  height:25vh;
  border: 1px solid black;
}

nav {
  text-align: center ;
  border: 5px solid black;
}

nav li{
  display:inline-block;
  margin :0px 30px;
  font-size: 20px;
}

nav li a {
  text-decoration: none;
  font-weight : 700;
  font-size : 40px;
}

article {
  position:relative;
  background-color: #CAC2B5;
  
}

article h1 {
  text-align: center;
  font-size: 50px;
  padding: 15px 0;
}

#leftSide{
  width:40%;
  padding-top: 0px;
  padding-left: 30px;
  margin-left: 50px;
  
}

#rightSide {
  position:absolute;
  top:50px;
  left: 55%;
  width:40%;
  margin-top: 50px;
  margin-left: 0px;
  padding-right:30px;
}

section {
  border-radius: 5%;
}

#sampleImg img[alt="paperImg"] {
  width: 400px;
  height: 400px;
}

#firstBox {
  background-color: #EDD4B2;
  width:350px;
  height:350px;
}

#secondBox {
  background-color :#7D4E57;
  width: 350px;
  height:350px;
}

#thirdBox {
  background-color: #D66853;
  border-radius: 5%;
  text-align: center;
}

#fourthBox {
  background-color : palevioletred;

}

#fifthBox {
  background-color: palegoldenrod;
}

footer marquee {
  background-color: red;
  font-size: 50px;
  font-weight : 400px;
}