*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Light mode */
  --tangerine-dream: #ef946c;
  --soft-fawn: #c4a77d;
  --deep-teal: #70877f;
  --twilight-indigo: #454372;
  --space-indigo: #2f2963;

  /*Typography*/
  --line-height-body: 1.5;
  --line-height-heading: 1.2;
}

.dark {
  /* Dark mode */
  --tangerine-dream: #d96f3a;
  --soft-fawn: #a07f4e;
  --deep-teal: #4b6b63;
  --twilight-indigo: #2d2a59;
  --space-indigo: #1a1638;

  /*Typography*/
  --line-height-body: 1.7;
  --line-height-heading: 1.4;
}

/* Example usage */
buttons {
  background: var(--tangerine-dream);
  color: var(--space-indigo);
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

#form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: black;
  margin: 0 auto 1rem;
}

#logo-white {
  width: 1rem;
  height: 1rem;
  background-color: white;
}

.form-card {
  border: 3px solid black;
  text-align: center;
  padding: 1.7rem;
  width: 88%;
  max-width: 28rem;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5px rgba(0, 0, 0, 1);
}

.form-card h1 {
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
  font-weight: 800;
}

.form-card p.subtitle {
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  color: grey;
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.8rem;
  width: 100%;
  text-align: left;
}

.fields input::placeholder {
  font-weight: 700;
  font-size: 0.7rem;
}

.fields label {
  font-weight: 700;
  font-size: 0.8rem;
}

form input {
  width: 100%;
  height: 2.8rem;
  border-radius: 0;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 0 0.5rem;
}

#password-field {
  display: flex;
  align-items: center;
}

#password-field input {
  flex: 1; /* Input expands to fill space */
  width: auto; /*Allow flexbox calc the best width*/
  border-right: none;
}

form .show-password-btn {
  height: 2.8rem;
  max-width: 5rem;
  font-size: 0.9rem;
  padding: 0 0.5rem;
  border: 2px solid black;
  border-left: none;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
}

form .options {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  align-items: center;
}

form .remember-label {
  display: flex;
  align-items: center;
  font-weight: 500;
}

form .remember-label input {
  all: revert;
  margin-right: 0.4rem;
}

form .forgot-link {
  font-weight: 700;
  margin-left: auto;
  text-decoration: none;
  margin-right: 0.2rem;
  color: black;
  cursor: pointer;
}

form button {
  display: block;
  border: none;
  width: 100%;
  color: white;
  background-color: black;
  font-size: 0.9em;
  font-weight: bold;
  padding: 1.2em 0.6em;
  cursor: pointer;
}

form p {
  font-weight: 500;
  color: grey;
  font-size: 0.8rem;
}

form a.create-new,
form a.sign-in {
  text-decoration: none;
  font-weight: 800;
  color: black;
  font-size: 0.9rem;
  cursor: pointer;
}

.registration {
  border: 3px solid black;
  text-align: center;
  padding: 1.3rem;
  width: 88%;
  max-width: 28rem;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5px rgba(0, 0, 0, 1);
}

.registration h1 {
  margin-bottom: 0.8rem;
}

.registration p.subtitle {
  margin-bottom: 1rem;
}

.registration form {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.location-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
